<!-- Main component for a primary marketing message or call to action -->
      <div class="marketing">
        <div class="jumbotron h1">Home to African Music, Videos and Events
        <p>Free, easy and fun way to Share or promote Africa's finnest entertainment.</p>
        
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
          </div>
        
      </div>


