@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require initaudioplayer-1 
 *= require baseplayer 
 *= require_self
  */



.em-background-box {
  background: url("../images/pcover.jpg") no-repeat scroll center top;
  width: 815px;
  height: 315px;
  background-color: #fff;
 
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px; }


.jumbotron {
  padding: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: inherit;
  background-color: #eee;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
  color: #286090;
}
.jumbotron > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron {
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  
  .jumbotron {
    padding-top: 10px;
    padding-bottom: 18px;
  }
  .container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
  }                                                                           



  .marketing {
  margin-top: -20px;
  
  width: 980px;
  margin: auto;
  
  color: inherit;
  background-color: #eee;
}

.bodyframe {
  width: 980px;
  padding: 30px;
  margin: auto;
  color: inherit;
  
}


.frontsongcover {

background-color: #eee;
 
  width: 119px;
  height: 66px;
 

background-position: center;
}

.notop {

margin-top:0px;
}


.whitenav {
position: obsolute;

  background-color: 000000;
  margin: 0 auto;
  width: 100%;
  height: 70px;

  -webkit-box-shadow: 0 1px 5px 1px #333;
  -moz-box-shadow: 0 1px 5px 1px #333;
  box-shadow: 0 1px 5px 1px #333;
  clear: both;
 z-index: 999 !important;
}


.frontactivity {

background-color: ffffff;
 
  width: 980px;
  height: 100px;
 box-shadow: 0px 1px 0px #888888;

  background-image: url("topbg.jpg");
background-repeat: no-repeat;

background-position: center;
}


 .centerfy img{
                margin: 0 auto;
            }
            .centerfy{
                margin: 0 auto;
                text-align: center;
            }

            .centerplayer{
                margin-left: -3px;
                margin-top: 10px;

                
            }



.bigplayer {
          width:450;                
          margin-top: -300px;
          position: absolute;
          border-width: 5px;
          border-color: #eeeeee;


}	

.player-wrapmain{
             width: 450;
             margin-top: 30px;
             border-width: 5px;
             border-color: #eeeeee;
             background:#000;
	
}
.maincounter{
             
             margin-top: -8px;
             position: absolute;
             
  
}

.container-mid2 {
  position: relativw;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15%;
  margin-left: 15%;
  padding-top: 0px;  
  clear: both;
}
body {
    
    padding-top: 70px;
    padding-bottom:70px;
    background-color: #789;
  }

.leftgap {
    border-style: solid;
    border-width: 35px;
    border-color: #fff #fff #fff #789;
     }



.playp {
  background:url("../images/play.png") no-repeat;
  width:57px;
  height:52px;
}
.mutebtn {
  background:url(images/speaker.PNG) no-repeat;
  width:53px;
  height:43px;
}

.inplay .inpause {
    background: transparent url("../images/spr.png") no-repeat scroll 0 0;
    float: left;
    height: 100%;
    width: 33%;
}
.inplay .inpause {
    position: absolute;
    right: -80px;
    background-position: -8px -171px;
}

<!--player-->

* {
    margin: 0;
    padding: 0;
}


header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#fff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    margin-bottom: 10px;
    position:relative;
}
header h2{
    font-size: 22px;
    margin: 0px auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}


/* HTML5 Audio player with playlist styles */
.example {
    margin: 50px auto 0;
    width: 400px;
}
.player {
    background: transparent url("../images/spr.png") no-repeat scroll center top;
    height: 162px;
    position: relative;
    width: 326px;
    z-index: 2;
}
.title, .artist {
    font-family: verdana;
    left: 167px;
    position: absolute;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.title {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    top: 23px;
}
.artist {
    color: #EEEEEE;
    font-size: 12px;
    top: 40px;
}
.pl {
    background: transparent url("../images/spr.png") no-repeat scroll -274px -175px;
    cursor: pointer;
    height: 34px;
    left: 270px;
    position: absolute;
    top: 20px;
    width: 32px;
}
.pl:hover {
    top: 21px;
}
.cover {
    background: transparent url("../images/data/cover1.jpg") no-repeat scroll center top;
    border-radius: 5px 5px 5px 5px;
    height: 94px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 94px;
}
.controls {
    cursor: pointer;
    height: 23px;
    left: 167px;
    position: absolute;
    top: 65px;
    width: 138px;
}
.controls .play, .controls .pause, .controls .rew, .controls .fwd {
    background: transparent url("../images/spr.png") no-repeat scroll 0 0;
    float: left;
    height: 100%;
    width: 33%;
}
.controls .play {
    background-position: -8px -171px;
}
.controls .pause {
    background-position: -8px -198px;
    display: none;
}
.controls .rew {
    background-position: -54px -171px;
}
.controls .fwd {
    background-position: -100px -171px;
}
.controls .play:hover {
    background-position: -8px -170px;
}
.controls .pause:hover {
    background-position: -8px -197px;
}
.controls .rew:hover {
    background-position: -54px -170px;
}
.controls .fwd:hover {
    background-position: -100px -170px;
}
.hidden {
    display: none;
}
.controls .visible {
    display: block;
}
.volume {
    height: 11px;
    left: 186px;
    position: absolute;
    top: 96px;
    width: 112px;
}
.tracker {
    height: 15px;
    left: 20px;
    position: absolute;
    top: 126px;
    width: 285px;
}
.ui-slider-range {
    background: transparent url("../images/spr.png") no-repeat scroll 5px -222px;
    height: 100%;
    position: absolute;
    top: 0;
}
.ui-slider-handle {
    cursor: pointer;
    height: 10px;
    margin-left: -5px;
    position: absolute;
    top: 2px;
    width: 10px;
    z-index: 2;
}
.volume .ui-slider-handle {
    background: url("../images/spr.png") no-repeat scroll -201px -188px rgba(0, 0, 0, 0);
    height: 13px;
    width: 13px;
}
.playlist {
    background-color: #333333;
    border-radius: 5px 5px 5px 5px;
    list-style-type: none;
    margin: -10px 0 0 2px;
    padding-bottom: 10px;
    padding-top: 15px;
    position: relative;
    width: 326px;
    z-index: 1;
}
.playlist li {
    color: #EEEEEE;
    cursor: pointer;
    margin: 0 0 5px 15px;
}
.playlist li.active {
    font-weight: bold;
}

<!--footer-->

.pindown{

    position: fixed;
    background-color: #000000;
    float: right;    
    margin-left: 300px;
    z-index: 999;
    font-size: 20px;
    color: #ffffff;

}

.Yfooter {

    position: fixed;
    background-color: #f8f8f8; 
    height: 70px;
    bottom: 0;
    width: 100%;
    margin-top: 300px;
    z-index: -999;
    font-size: 20px;
    color: #ffffff;
    z-index: 9999 !important;



}

.player-wrap {
  position: fixed;  
  background-color: #f8f8f8; 
  width: 100%;
  left: 0;
  bottom: 0;
  height: 63px;
  font-size: 20px;
    color: #000;

   -webkit-box-shadow: 0 4px 5px 4px #333;
     -moz-box-shadow: 0 4px 5px 4px #333;
     box-shadow: 0 4px 5px 4px #333;
     clear: both;
  
  z-index: 999;

 }

 .downanalyser {

    position: fixed;
    left: 13%;
    bottom: 0;

 }

 